@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: hsl(36, 100%, 99%);
}

header {
    max-width: 1100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 2rem;
    padding: 1rem 0 6rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-link {
    color: hsl(240, 100%, 5%);
    text-decoration: none;
    opacity: 0.9;
    font-weight: 300;
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: hsl(240, 100%, 5%);
}

.grid-container {
    max-width: 1100px;
    display: grid;
    grid-template-areas:
        'b1 b1 b1 b1 b2 b2'
        'b3 b3 b4 b4 b2 b2'
        'b5 b5 b6 b6 b7 b7';
    gap: 2rem;
}

.p-box2 {
    padding: 0 2rem;
    line-height: 1.7;
    font-size: 0.85rem;
}

.p-box4 {
    opacity: 0.9;
    color: hsl(240, 100%, 5%);
    font-size: 0.85rem;
    line-height: 1.6;
    margin: 0;
    padding: 0 1rem 3rem 0;
}

.p-bot {
    font-size: 0.85rem;
    line-height: 1.5;
    margin: 0 0 0 1.1rem;
    padding: 0 1rem 0 0;
    color: hsl(240, 100%, 5%);
    opacity: 0.9;
}

.line {
    display: flex;
    border-top: 1px solid white;
    margin: 0 2rem;
    opacity: 0.45;
}

h1 {
    font-size: 3vw;
    line-height: 90%;
    margin: 0;
}

h2 {
    font-size: 2rem;
    color: hsl(35, 77%, 62%);
    padding: 0 2rem;
}

.h2 {
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
    margin: 0 0 0.5rem 1.1rem;
    padding: 0;
}

h3 {
    padding: 0 2rem;
    color: white;
    margin-top: 2rem;
}

.h3 {
    color: hsl(240, 100%, 5%);
    font-weight: 800;
    font-size: 1.1rem;
    margin: 0 0 0.5rem 1.1rem;
    padding: 0;
}

a.button {
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
    padding: 0.8rem 1.7rem;
    background-color: hsl(5, 85%, 63%);
}

a.button:hover {
    background-color: dodgerblue;
    box-shadow: 1px 2px 5px gray;
}

.image {
    width: 90px;
    height: 120px;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.box1 {
    grid-area: b1;
}

.box2 {
    grid-area: b2;
    font-weight: 300;
    color: hsl(233, 8%, 79%);
    background-color: hsl(240, 100%, 5%);
    text-align: justify;
    padding-bottom: 1.5rem;
}

.box3 {
    grid-area: b3;
}

.box4 {
    grid-area: b4;
}

.box5 {
    grid-area: b5;
    margin: 2rem 0;
}

.box6 {
    grid-area: b6;
    margin: 2rem 0;
}

.box7 {
    grid-area: b7;
    margin: 2rem 0;
}

footer {
    margin-top: auto;
    font-size: 0.75rem;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

.attribution a:hover {
    color: hsl(228, 100%, 55%);
}

@media (max-width:768px) {

    .grid-container {
        display: grid;
        grid-template-areas:
            'b1 b1 b1 b1 b1 b1'
            'b3 b3 b3 b3 b3 b3'
            'b4 b4 b4 b4 b4 b4'
            'b2 b2 b2 b2 b2 b2'
            'b5 b5 b5 b5 b5 b5'
            'b6 b6 b6 b6 b6 b6'
            'b7 b7 b7 b7 b7 b7';
        gap: 2rem;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6,
    .box7 {
        margin: 0 0.5rem;
    }

    header img {
        margin-left: 0.5rem;
    }

    footer {
        margin-top: 2rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 95%;
        margin: 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    header {
        padding: 1rem 0;
        margin: 0 0 3.5rem 0;
    }

    .navbar {
        margin-right: 0.5rem;
    }

    .nav-menu {
        gap: 0;
        position: absolute;
        left: -100%;
        flex-direction: column;
        transition: 0.3s;
        text-align: center;

    }

    .nav-menu.active {
        gap: 0;
        position: relative;
        top: 5rem;
        left: -36vw;
        padding: 0;

    }

    .nav-item {
        margin: 1rem 0;
    }
}

@media (max-width:630px) {
    .nav-menu.active {
        gap: 0;
        position: relative;
        left: -32vw;
        padding: 0;
        margin-top: 1rem;
    }
}

@media (max-width:490px) {
    .nav-menu.active {
        gap: 0;
        position: relative;
        left: -29vw;
        padding: 0;
        margin-top: 1rem;
    }
}